        /* CSS untuk mengatur gaya video */
        .video-container {
            max-width: 800px; /* Lebar maksimal video */
            margin: auto; /* Center video */
            padding: 20px;
            text-align: center;
        }

        video {
            width: 100%; /* Buat video responsive, menyesuaikan lebar kontainer */
            border: 2px solid #333; /* Tambahkan border pada video */
            border-radius: 8px; /* Tambahkan radius untuk border yang halus */
        }
    </style>